@import "./base/variables";
@import "./base/mixins";
@import "./blocks/promo";
@import './blocks/header';
@import './base/variables';
@import './blocks/buttons';

* {
    font-family: 'Museo Sans';
    box-sizing: border-box;
    line-height: 1;
	margin: 0;
	padding: 0;
}
    
.container {
    max-width: 950px;
    margin: 0 auto;
}
